p
    font-family: "Helvetica Lite", Sans serif
    font-family: 'Merriweather', serif;
.container
    width: 1165px
    margin: 0 auto


.main-nav
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
.main-nav_link
    display: block
.main-nav li
    list-style: none
.main-nav li
    margin-right: 40px
.logo
    width: 55px
    height: 55px
    align-self: center
.nav-row
    display: flex
    margin: 0 auto
    justify-content: center
h1.logo
    margin: 0
    padding: 0